/** Background **/
body {
	background-color: #1DA1F2;
	width: 100%;
}

/** Logo **/
.logo {
	width: 100%;
	height: 75px;
}

div > img {
	display: block;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

/** Sign Up Form Area**/
.form {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 360px;
	background-color: white;
	padding: 40px;
	border-radius: 4px;
	height: 350px;
}

	/**Sign Up Form**/
	.signup-form{
		border: none;
		position: relative;
		bottom: 50px;
	}

	div > legend{
		padding: 40px;
		text-align: center;
		font-size: 36px;
		width: 100%;
		margin: 0 auto; 
		position: relative;
		right: 50px;
		color: grey;
	}

	.info-block{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		height: 100px;
	}

	label{
		position: relative;
		left: 5px;
	}

	input {
		display: block;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		border-style: solid;
		width: 286px;
		padding:15px;
		border: 2px solid grey;
		margin-top: 20px;
	}

	/** Sign Up Button **/

	.signbuttondiv{
		width: 450px;
		position: relative;
		right: 45px;
		bottom: 125px;
	}
	.signbutton{
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #62EF82;
		border-style: solid;
		width: 325px;
		padding: 15px;
		border: 2px solid;
		color: white;
		font-size: 28px;
		height: 55px;
	}

	.buttontext{
		position: relative;
		bottom: 7px;
	}
	.signbutton:hover{
		background-color: #00ef36;
	}

	/** Forgot Password Link **/
	.forgotpassworddiv{
		width: 100%;
		text-align: center;
		position: relative;
		bottom: 125px;
	}

	.forgotpasswordtext{
		font-size: 12px;
		color: grey;
	}

/** Log In **/
.logindiv {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 360px;
	text-align: center;
}

.login {
	color: white;
	font-weight: bold;
	font-size: 14px;
}